.container{
    display: flex;
    max-width: 250px;
    width: 25vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    background: linear-gradient(145deg, #dddddd, #ffffff);
    box-shadow: 10px 10px 20px #d0d0d0, -10px -10px 20px #ffffff;
    font-size: 7em;
    font-weight: bolder;
    font-family: cursive;
}